<li class="nav-item <%= "active open" if ["erp/articles/backend/articles", "erp/articles/backend/categories", "erp/articles/backend/comments"].include?(params[:controller]) %>">
    <a href="javascript:;" class="nav-link nav-toggle">
        <i class="fa fa-rss-square"></i>
        <span class="title"><%= t('.article') %></span>
        <% if ["erp/articles/backend/articles", "erp/articles/backend/categories", "erp/articles/backend/comments"].include?(params[:controller]) %>
            <span class="selected"></span>
            <span class="arrow open"></span>
        <% else %>
            <span class="arrow"></span>
        <% end %>
    </a>
    <ul class="sub-menu">
        <li class="nav-item">
            <a href="<%= erp_articles.backend_articles_path %>" class="nav-link">
                <span class="title"><%= t('.articles') %></span>
            </a>
        </li>
        <li class="nav-item">
            <a href="<%= erp_articles.backend_categories_path %>" class="nav-link">
                <span class="title"><%= t('.categories') %></span>
            </a>
        </li>
        <li class="nav-item">
            <a href="<%= erp_articles.backend_comments_path %>" class="nav-link">
                <span class="title"><%= t('.comments') %></span>
            </a>
        </li>
    </ul>
</li>